<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title>MVC Tech Blog</title>
</head>
<body>
  
  <header>
    <h1>
    <a href="/">
      Tech Blog
    </a>
    </h1>
    <div class="content-spacer"></div>
    {{#if user}}
    <a href="/logout">
    <button id="logout" class="btn">
      Logout
    </button>    
    </a>
    {{else}}
    <a href="/login">
    <button class="btn">
      Login
    </button>
    </a>
      <button class="btn">
      Signup
    </button>
    {{/if}}
  </header>

<main>
  {{{body}}}
</main>

<footer>
  <h5>
    ©2024 Cassidy Pagels
  </h5>
</footer>

</body>
</html>