<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title>MVC Tech Blog</title>
</head>
<body>
  
  <header>
    <h1>
      Test
    </h1>
  </header>

<main>
  Test2
</main>

<footer>
  <h5>
  C2024 Cassidy Pagels
  </h5>
</footer>

</body>
</html>