<div class="mainContent">
  <div id="loginForm">
    <div class="postCard">
      <div class="postHeader">
        <h2>
          Login Form
        </h2>
      </div>
      <div class="postBody">
        <form id="login-form">
          <label>email:</label>
          <input id="email-login" type="email">
          <label>password:</label>
          <input id="password-login" type="password">
          <input type="submit" value="Login">
        </form>
      </div>
    </div>
  </div>
</div>