#root {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
}

body {
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  position: sticky;

  display: flex;
  align-items: center;

  background-color: sienna;
}

header h1 {
  padding-left: 10px;

  color: burlywood;
}

.content-spacer {
  flex-grow: 1;
}

.btn {
  width: 75px;
  height: 40px;
  margin: 10px;

  border: 2px solid peru;
  border-radius: 5px;
  color: sienna;
  font-weight: bold;
  background-color: peru;

}

.btn:hover {
  transition-duration: 0.4s;
  color: sienna;
  background-color: burlywood;
}

.btn:active {
  transition-duration: 0.2s;
  color: peru;
  border-color: burlywood;
  background-color: blanchedalmond;
}

main {
  position: relative;

  flex: 1 1 auto;

  background-color: blanchedalmond;
}

.postCard {
  display: flex;
  flex-direction: column;
  margin: 5px;

  border: 2px solid peru;
  border-radius: 5px;
}

.postHeader {
  color: sienna;
  background-color: peru
}

.postHeader h3 {
  margin: 5px;
  padding-left: 5px;
}

.postBody {
  color: sienna;
  background-color: burlywood;
}

.postBody p {
  margin: 5px;
  padding-left: 10px;
}

.postFooter {

  font-size: 12px;
  font-style: italic;
  color: burlywood;
  background-color: peru;
}

.postFooter p {
  margin: 2px;
  padding-left: 5px;
}

footer {
  position: sticky;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: burlywood;
  background-color: sienna;
}

footer h5 {
  margin-left: 20px;
}